@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro');


.main-header .logo {
  font-family: "Arial", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

h2 {
 /* font-family: 'Arial'; */
 /* font-family: 'Georgia', serif; */
 font-family: 'Source Serif Pro';
 font-size: 24;
 
}

h3 {
 font-family: 'Source Serif Pro';
 font-size: 16;
}

h4 {
  font-family: 'Helvetica Neue';
  font-weight: light;
  font-size: 16;
  color: white;
}

h5 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 16;
}